.container {
    background-color: white;
    /* text-align: left; */
    border-radius: 8px;
    padding:5px;
    margin: 1em 0;
    display: inline-block;
}

.container p {
    margin: 1px;
}


.timestamp {
    color: gray;
    text-align: right;
    display: block;
}