/* You can add global styles to this file, and also import other style files */
body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(46, 43, 43);

    margin: 0;
    width: 100%;
}