.container {
    height: 90vh;
    overflow: auto;
    background-color: rgb(233, 219, 219);
}


input {
    border-radius: 10px;
    width:80%;
    height: 20px;
    border: none;
    padding: 2px 10px;
    margin:5px;
}